/* GENERAL PROPERTIES */
:root {
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
  /* FORM SUCCESS & FORM ERROR MESSAGES STYLES */
  --error-color: #ff0000;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;
}

/* HEADER - MENU */
.header__resp {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.header__nav {
  display: flex;
  gap: 5px;
}

.header__nav a {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.header__nav a.active,
.header__nav a:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 10px;
}

.header__nav a.active {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* MAIN */
main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 20px 15px;
  /*border-radius: 2rem;*/
  /*text-align: justify;*/
}

.hero-section {
  display: flex;
  justify-content: stretch;
  overflow: hidden;
  border-radius: 10px;
  background: #232323;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  padding: 50px 60px;
  color: #fff;
  width: 475px;
}

.hero-headline {
  position: relative;
  white-space: nowrap;
  font-size: 95px;
  line-height: 130px;
  font-weight: 500;
}

.hero-headline h1 {
  padding: 0;
}

.hero-text {
  font-size: 22px;
  line-height: 30px;
  font-weight: normal;
}

.hero-img {
  width: 100%;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-signup {
  background: #ff0000;
  color: #fff;
  border-radius: 7px;
  font-size: 20px;
  padding: 15px 23px;
  margin: 0;
  margin-top: 59px;
  cursor: pointer;
  border: 0;
  width: 50%;
}

/* FOOTER */
footer {
  margin: 0 20px;
  padding: 0 20px;
}

/*****
 Modal form START
*****/
.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content,
#confirm__message {
  margin: 5% auto;
  width: 100%;
  max-width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.container,
#confirm__message {
  background-color: #232323;
  color: white;
  border-radius: 10px;
  width: 400px;
}

form h1 {
  font-size: 18px;
  font-weight: initial;
  padding: 10px;
}

form label,
form p {
  font-size: 16px;
  font-weight: initial;
}

form img {
  width: 40%;
}

.form {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
}

.form__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.form__field {
  margin-bottom: 5px;
}

.form__field label {
  display: block;
  margin-bottom: 5px;
}

.form__field input {
  padding: 10px;
  font-size: 14px;
  display: block;
  width: 100%;
  border: 2px solid #232323;
  border-radius: 10px;
}

.form__field input:focus {
  outline: none;
}

.form__field.error input {
  border-color: var(--error-color);
}

.form__field.success input {
  border-color: var(--success-color);
}

.form__field small,
.errorMsg {
  color: var(--error-color);
  font-size: 14px;
  font-weight: normal;
}

.terms__message--error {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500 !important;
  font-style: italic;
}

.btn__submit,
.btn__message {
  background: #ff0000;
  margin: 20px auto;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  width: 75% !important;
}

.btn__submit:hover,
.btn__message:hover {
  background: #232323;
  color: #ff0000;
  border: 1px solid white;
  cursor: pointer;
}

/*FONTAWESOME ICON : CLOSE MODAL*/
.fa-times {
  font-size: 30px;
  display: flex;
  justify-content: end;
  padding-right: 10px;
  cursor: pointer;
  margin-top: 15px;
  padding-right: 20px;
}

/*RADIO BUTTONS*/
.location {
  padding-top: 15px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/*CHECKBOXES*/
.checkbox {
  margin-top: 20px;
}

.checkbox__label,
.checkbox2__label {
  position: relative;
  margin-left: 36px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: normal;
}
.checkbox__label .checkbox__icon,
.checkbox2__label .checkbox__icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}
.checkbox__label .checkbox__icon::after,
.checkbox2__label .checkbox__icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.checkbox__input {
  display: none !important;
}
.checkbox__input:checked + .checkbox__label .checkbox__icon::after,
.checkbox__input:checked + .checkbox2__label .checkbox__icon::after {
  opacity: 1;
}
.checkbox__input:checked + .checkbox2__label .checkbox__icon {
  background: #279e7a;
}
.checkbox2__label .checkbox__icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.checkbox2__label .checkbox__icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

/*CONFIRM MESSAGE - CLOSE MODAL*/
#confirm__message {
  border: 1px solid white;
}

#confirm__message--style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 26px;
  text-align: center;
  height: 70vh;
}

#confirm__message--style img {
  margin-bottom: 55px;
  width: 50%;
}

#confirm__message--style p {
  font-weight: normal;
  font-size: 22px;
  padding: 25px;
}

.btn__message {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #232323;
  height: 55px;
  width: 35% !important;
  border-radius: 15px;
  font-size: 16px;
  margin-bottom: 35px;
}
/*****
 Modal form END
*****/

.copyrights {
  color: #ff0000;
  padding: 0;
  font-size: 16px;
  margin: 60px 0 30px;
  font-weight: bolder;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
